# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional debug and temporary files (NB)
*.tlog
*.lastbuildstate
*.pdb
*.ilk
*.iobj
*.ipdb
*.VC.db
*.log
*.idb

# RenderDoc Capture files (NB)
*.cap
/FluidSimulationDemo.VC.VC.opendb
