# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional debug and temporary files (NB)
*.tlog
*.lastbuildstate
*.pdb
*.ilk
*.iobj
*.ipdb
*.VC.db
*.log
*.idb
*.tsv

# Compiled Shader Objects (NB)
*.cso

# Performance reports (NB)
*.vspx

# RenderDoc Capture files (NB)
*.cap
/FluidSimulationDemo.VC.VC.opendb
/FluidSimulationDemo/dbgV.txt
/FluidSimulationDemo/dbgU.txt
/FluidSimulationDemo/dbgParticles.txt
/FluidSimulationDemo/dbgInterpV.txt
/FluidSimulationDemo/dbgInterpU.txt
/FluidSimulationDemo/dbgPhi.txt
/.vs/FluidSimulationDemo/v15/Browse.VC.opendb
